:root {
    --ms-primary: #cb004e;
    --ms-secondary: #818081;
    --ms-dark: #000000;
    --ms-shadow: #0000006a;
    --ms-light: #fefffe;
}

body {
    background-color: var(--ms-primary);
}

.ms-color-dark {
    color: var(--ms-dark);
}

.ms-color-light {
    color: var(--ms-light);
}

.ms-color-primary {
    color: var(--ms-primary);
}

.ms-bg-dark {
    background-color: var(--ms-dark);
}

.ms-bg-light {
    background-color: var(--ms-light);
}

.ms-bg-primary {
    background-color: var(--ms-primary);
}

.ms-bg-secondary {
    background-color: var(--ms-secondary);
}

.hidden {
    display: none;
}

.ms-text-sm {
    font-size: .75rem;
}

.card {
    box-shadow: 0 0 1rem var(--ms-shadow);
}

.card label {
    width: 100%;
}

.card input,
.card select 
{
    width: 80%;
    margin: auto;
    text-align: center;
    border-color: var(--ms-primary);
}

.card thead th:first-child,
.card tbody td:first-child
{
    width: 30%;
}

.card thead.border-top,
.card tbody.border-bottom
{
    border-color: var(--ms-secondary) !important;
}